flows/Product_Data_Mobile.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Injection_Refilling_Details</name>
        <label>Assign Injection Refilling Details</label>
        <locationX>290</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>PDSId.Filling_Position_mm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filling_Position_mm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Filling_Speed_mm_sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filling_Speed_mm_sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Filling_Set_Pressure_Bar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filling_Set_Pressure_Bar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Filling_Actual_Pressure_Bar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filling_Actual_Pressure_Bar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Pack_Hold_Pressure_Bar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pack_Hold_Pressure_Bar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Cushion_Position_mm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cushion_Position_mm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Actual_Refilling_Pressure_Bar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Refilling_Pressure_Bar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Injection_Refilling_Details_in_PDS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Machine_Details</name>
        <label>Assign Machine Details</label>
        <locationX>412</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>PDSId.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Screw_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screw_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Ram_Machine_Clamp_Daylight_mm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ram_Machine_Clamp_Daylight_mm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PDS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Material_Details</name>
        <label>Assign Material Details</label>
        <locationX>1263</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>PDSId.Plastic_Raw_Material_Name_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plastic_Raw_Material_Name_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Plastic_Raw_Material_Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plastic_Raw_Material_Make</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Plastic_Raw_Material_Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plastic_Raw_Material_Grade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Plastic_Raw_Material_Qty_of_Dosing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plastic_Raw_Material_Qty_of_Dosing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Masterbatch_Name_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Masterbatch_Name_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Masterbatch_Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Masterbatch_Make</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Masterbatch_Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Masterbatch_Grade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Masterbatch_Qty_of_Dosing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Masterbatch_Qty_of_Dosing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Filler_Name_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filler_Name_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Filler_Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filler_Make</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Filler_Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filler_Grade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Filler_Quantity_of_Dosing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filler_Quantity_of_Dosing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Material_Details_in_PDS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Material_Drying_and_Cycle_Time_Details</name>
        <label>Assign Material Drying and Cycle Time Details</label>
        <locationX>1378</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>PDSId.Is_Material_Require_Pre_Drying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Material_Require_Pre_Drying</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Pre_Drying_Time_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_Drying_Time_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Pre_Drying_Temperature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_Drying_Temperature</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.MFI_of_Raw_Material_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MFI_of_Raw_Material_Used</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Fast_Close_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fast_Close_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Mould_Protect_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mould_Protect_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Tonnage_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tonnage_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Break_Away_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Break_Away_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Fast_Open_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fast_Open_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Slow_Open_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slow_Open_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Fill_Time_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fill_Time_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Pack_Hold_Time_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pack_Hold_Time_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Cooling_Time_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cooling_Time_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Total_Refill_Time_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Refill_Time_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Ejector_Forward_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ejector_Forward_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Ejector_Retract_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ejector_Retract_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Core_Pull_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Core_Pull_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Core_Set_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Core_Set_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Cycle_Delay_Gate_Recycle_Time_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cycle_Delay_Gate_Recycle_Time_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Total_Cycle_Time_Sec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Cycle_Time_Sec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Material_Drying_and_Cycle_Time_Details_in_PDS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Operating_Mode_and_Power_Details_in_PDS</name>
        <label>Assign Operating Mode and Power Details in PDS</label>
        <locationX>1037</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>PDSId.Operating_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operating_Mode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Power_Consumption_KWH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Power_Consumption_KWH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Power_Consumption_KG_Hrs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Power_Consumption_KG_Hrs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Power_Consumption_KWH_Kg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Power_Consumption_KWH_Kg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Operating_Mode_and_Power_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Image_in_PDS</name>
        <label>Assign Product Image in PDS</label>
        <locationX>763</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>ContentVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImageId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getProductImageByLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Temperature_Details</name>
        <label>Assign Temperature Details</label>
        <locationX>687</locationX>
        <locationY>190</locationY>
        <assignmentItems>
            <assignToReference>PDSId.Mould_is_Hot_Runner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mould_is_Hot_Runner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Avg_Temp_of_Unit_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Avg_Temp_of_Unit_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Avg_Temp_of_Unit_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Avg_Temp_of_Unit_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Mould_Cooling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mould_Cooling</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Mould_Inlet_Temp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mould_Inlet_Temp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Temperature_Details_in_PDS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_and_Mould_Details</name>
        <label>Product and Mould Details</label>
        <locationX>908</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>PDSId.Product_Weight_Gms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Weight_Gms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Runner_Sprue_Weight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Runner_Sprue_Weight_Gms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.No_of_Cavities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_Cavities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Total_Product_Weight_Gms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Product_Weight_Gms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Product_Top_Dia_mm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Top_Dia_mm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Product_Bottom_Dia_mm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Bottom_Dia_mm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Product_Height_mm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Height_mm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Product_Wall_Thickness_mm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Wall_Thickness_mm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Mould_Shut_Height_mm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mould_Shut_Height_mm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Mould_Length_Diameter_mm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mould_Length_Diameter_mm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Mould_Width_mm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mould_Width_mm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PDSId.Mould_Feeding_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mould_Feeding_System</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_and_Mould_Details_in_PDS</targetReference>
        </connector>
    </assignments>
    <description>With Image capture logic</description>
    <dynamicChoiceSets>
        <name>Application_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Application__c</picklistField>
        <picklistObject>Product_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Country_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Product_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EOF_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EOF__c</picklistField>
        <picklistObject>Product_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ismaterialrequirepre_drying_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_Material_Require_Pre_Drying__c</picklistField>
        <picklistObject>Product_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsMaterialRequirePreDrying_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_Material_Require_Pre_Drying__c</picklistField>
        <picklistObject>Product_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MouldCooling_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mould_Cooling__c</picklistField>
        <picklistObject>Product_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MouldFeedingSystem_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mould_Feeding_System__c</picklistField>
        <picklistObject>Product_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MouldisHotRunner_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mould_is_Hot_Runner__c</picklistField>
        <picklistObject>Product_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OperatingMode_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Operating_Mode__c</picklistField>
        <picklistObject>Product_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Product_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ScrewType_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Screw_Type__c</picklistField>
        <picklistObject>Product_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TransferMode_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transfer_Mode__c</picklistField>
        <picklistObject>Product_Data__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Product Data Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Data Mobile</label>
    <loops>
        <name>getProductImageByLoop</name>
        <label>getProductImageByLoop</label>
        <locationX>577</locationX>
        <locationY>343</locationY>
        <assignNextValueToReference>ImageId</assignNextValueToReference>
        <collectionReference>ProductImageID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_Image_in_PDS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Content_Version</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_PDS</name>
        <label>Create PDS</label>
        <locationX>545</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Product_Details</targetReference>
        </connector>
        <inputReference>PDSId</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Content_Version</name>
        <label>Content Version</label>
        <locationX>592</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Content_Version_image</targetReference>
        </connector>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContentVersion</elementReference>
            </value>
        </filters>
        <object>ContentVersion</object>
        <outputReference>getContentVersionId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Info</name>
        <label>Get Asset Info</label>
        <locationX>167</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Machine_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Content_Version_image</name>
        <label>Update Content Version image</label>
        <locationX>750</locationX>
        <locationY>558</locationY>
        <connector>
            <targetReference>Upload_Files_in_PDS</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PDSId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Image_Id__c</field>
            <value>
                <elementReference>getContentVersionId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Data__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Injection_Refilling_Details_in_PDS</name>
        <label>Update Injection Refilling Details in PDS</label>
        <locationX>110</locationX>
        <locationY>279</locationY>
        <connector>
            <targetReference>Upload_CSV_File</targetReference>
        </connector>
        <inputReference>PDSId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Material_Details_in_PDS</name>
        <label>Update Material Details in PDS</label>
        <locationX>1378</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Material_Drying_Details</targetReference>
        </connector>
        <inputReference>PDSId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Material_Drying_and_Cycle_Time_Details_in_PDS</name>
        <label>Update Material Drying and Cycle Time Details in PDS</label>
        <locationX>1269</locationX>
        <locationY>185</locationY>
        <connector>
            <targetReference>Operating_Mode_and_Power_Details</targetReference>
        </connector>
        <inputReference>PDSId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Operating_Mode_and_Power_Details</name>
        <label>Update Operating Mode and Power Details</label>
        <locationX>912</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Temperature_Details</targetReference>
        </connector>
        <inputReference>PDSId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_and_Mould_Details_in_PDS</name>
        <label>Update Product and Mould Details in PDS</label>
        <locationX>1033</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Material_Details</targetReference>
        </connector>
        <inputReference>PDSId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Temperature_Details_in_PDS</name>
        <label>Update Temperature Details in PDS</label>
        <locationX>553</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Injection_Refilling_Details</targetReference>
        </connector>
        <inputReference>PDSId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upload_Files_in_PDS</name>
        <label>Upload Files in PDS</label>
        <locationX>891</locationX>
        <locationY>557</locationY>
        <inputReference>PDSId</inputReference>
    </recordUpdates>
    <screens>
        <name>Attach_Image</name>
        <label>Attach Image</label>
        <locationX>444</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getProductImageByLoop</targetReference>
        </connector>
        <fields>
            <name>Attach_Product_Image</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>PDSId.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Product Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.JPG,.JPEG,.PNG,.jpg,.jpeg,.png</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ProductImageID</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cycle_Time_Details</name>
        <label>Cycle Time Details</label>
        <locationX>1497</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Material_Drying_and_Cycle_Time_Details</targetReference>
        </connector>
        <fields>
            <name>Fast_Close_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Fast Close(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Mould_Protect_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Mould Protect(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Tonnage_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Tonnage(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Break_Away_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Break Away(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Fast_Open_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Fast Open(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Slow_Open_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Slow Open(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Fill_Time_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Fill Time(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Pack_Hold_Time_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Pack / Hold Time(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Cooling_Time_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Cooling Time(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Total_Refill_Time_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Total Refill Time(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Ejector_Forward_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Ejector Forward(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Ejector_Retract_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Ejector Retract(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Core_Pull_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Core Pull(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Core_Set_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Core Set(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Cycle_Delay_Gate_Recycle_Time_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Cycle Delay / Gate Recycle Time(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Total_Cycle_Time_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Total Cycle Time(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Injection_Refilling_Details</name>
        <label>Injection Refilling Details</label>
        <locationX>422</locationX>
        <locationY>196</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Injection_Refilling_Details</targetReference>
        </connector>
        <fields>
            <name>Filling_Position_mm</name>
            <dataType>Number</dataType>
            <fieldText>Filling Position(mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Filling_Speed_mm_sec</name>
            <dataType>Number</dataType>
            <fieldText>Filling Speed(mm/sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Filling_Set_Pressure_Bar</name>
            <dataType>Number</dataType>
            <fieldText>Filling Set Pressure(Bar)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Filling_Actual_Pressure_Bar</name>
            <dataType>Number</dataType>
            <fieldText>Filling Actual Pressure(Bar)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Pack_Hold_Pressure_Bar</name>
            <dataType>Number</dataType>
            <fieldText>Pack / Hold Pressure(Bar)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Cushion_Position_mm</name>
            <dataType>Number</dataType>
            <fieldText>Cushion Position(mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Actual_Refilling_Pressure_Bar</name>
            <dataType>Number</dataType>
            <fieldText>Actual Refilling Pressure(Bar)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Machine_Details</name>
        <label>Machine Details</label>
        <locationX>289</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Machine_Details</targetReference>
        </connector>
        <fields>
            <name>Product_Name</name>
            <dataType>String</dataType>
            <fieldText>Product Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Region</name>
            <choiceReferences>Region_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Region</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Application</name>
            <choiceReferences>Application_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Application</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screw_Type</name>
            <choiceReferences>ScrewType_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Screw Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ram_Machine_Clamp_Daylight_mm</name>
            <dataType>Number</dataType>
            <fieldText>Ram Machine Clamp Daylight(mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Material_Details</name>
        <label>Material Details</label>
        <locationX>1150</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Material_Details</targetReference>
        </connector>
        <fields>
            <name>Plastic_Raw_Material_Name_Type</name>
            <dataType>String</dataType>
            <fieldText>Plastic Raw Material Name/Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Plastic_Raw_Material_Make</name>
            <dataType>String</dataType>
            <fieldText>Plastic Raw Material Make</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Plastic_Raw_Material_Grade</name>
            <dataType>String</dataType>
            <fieldText>Plastic Raw Material Grade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Plastic_Raw_Material_Qty_of_Dosing</name>
            <dataType>Number</dataType>
            <fieldText>Plastic Raw Material Qty of Dosing(%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Masterbatch_Name_Type</name>
            <dataType>String</dataType>
            <fieldText>Masterbatch Name/Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Masterbatch_Make</name>
            <dataType>String</dataType>
            <fieldText>Masterbatch Make</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Masterbatch_Grade</name>
            <dataType>String</dataType>
            <fieldText>Masterbatch Grade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Masterbatch_Qty_of_Dosing</name>
            <dataType>Number</dataType>
            <fieldText>Masterbatch Qty of Dosing(%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Filler_Name_Type</name>
            <dataType>String</dataType>
            <fieldText>Filler Name/Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Filler_Make</name>
            <dataType>String</dataType>
            <fieldText>Filler Make</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Filler_Grade</name>
            <dataType>String</dataType>
            <fieldText>Filler Grade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Filler_Quantity_of_Dosing</name>
            <dataType>Number</dataType>
            <fieldText>Filler Quantity of Dosing(%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Material_Drying_Details</name>
        <label>Material Drying Details</label>
        <locationX>1488</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cycle_Time_Details</targetReference>
        </connector>
        <fields>
            <name>Is_Material_Require_Pre_Drying</name>
            <choiceReferences>IsMaterialRequirePreDrying_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is Material Require Pre-Drying?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pre_Drying_Time_Sec</name>
            <dataType>Number</dataType>
            <fieldText>Pre-Drying Time(Sec)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Pre_Drying_Temperature</name>
            <dataType>Number</dataType>
            <fieldText>Pre-Drying Temperature</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>MFI_of_Raw_Material_Used</name>
            <dataType>Number</dataType>
            <fieldText>MFI of Raw Material Used</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mould_Details</name>
        <label>Mould Details</label>
        <locationX>790</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_and_Mould_Details</targetReference>
        </connector>
        <fields>
            <name>Mould_Shut_Height_mm</name>
            <dataType>Number</dataType>
            <fieldText>Mould Shut Height(mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Mould_Length_Diameter_mm</name>
            <dataType>Number</dataType>
            <fieldText>Mould Length / Diameter(mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Mould_Width_mm</name>
            <dataType>Number</dataType>
            <fieldText>Mould Width(mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Mould_Feeding_System</name>
            <choiceReferences>MouldFeedingSystem_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mould Feeding System</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Operating_Mode_and_Power_Details</name>
        <label>Operating Mode and Power Details</label>
        <locationX>1160</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Operating_Mode_and_Power_Details_in_PDS</targetReference>
        </connector>
        <fields>
            <name>Operating_Mode</name>
            <choiceReferences>OperatingMode_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Operating Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Power_Consumption_KWH</name>
            <dataType>Number</dataType>
            <fieldText>Power Consumption KWH</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Power_Consumption_KG_Hrs</name>
            <dataType>Number</dataType>
            <fieldText>Power Consumption KG / Hrs.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Power_Consumption_KWH_Kg</name>
            <dataType>Number</dataType>
            <fieldText>Power Consumption KWH / Kg</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Details</name>
        <label>Product Details</label>
        <locationX>676</locationX>
        <locationY>55</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Mould_Details</targetReference>
        </connector>
        <fields>
            <name>Product_Weight_Gms</name>
            <dataType>Number</dataType>
            <fieldText>Product Weight(Gms)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Runner_Sprue_Weight_Gms</name>
            <dataType>Number</dataType>
            <fieldText>Runner/Sprue Weight(Gms)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>No_of_Cavities</name>
            <dataType>Number</dataType>
            <fieldText>No. of Cavities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Product_Weight_Gms</name>
            <dataType>Number</dataType>
            <fieldText>Total Product Weight(Gms)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Product_Top_Dia_mm</name>
            <dataType>Number</dataType>
            <fieldText>Product Top Dia(mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Product_Bottom_Dia_mm</name>
            <dataType>Number</dataType>
            <fieldText>Product Bottom Dia(mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Product_Height_mm</name>
            <dataType>Number</dataType>
            <fieldText>Product Height(mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Product_Wall_Thickness_mm</name>
            <dataType>Number</dataType>
            <fieldText>Product Wall Thickness(mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Temperature_Details</name>
        <label>Temperature Details</label>
        <locationX>807</locationX>
        <locationY>192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Temperature_Details</targetReference>
        </connector>
        <fields>
            <name>Mould_is_Hot_Runner</name>
            <choiceReferences>MouldisHotRunner_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mould is Hot Runner?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Avg_Temp_of_Unit_1</name>
            <dataType>Number</dataType>
            <fieldText>Avg. Temp of Unit -1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Avg_Temp_of_Unit_2</name>
            <dataType>Number</dataType>
            <fieldText>Avg. Temp of Unit -2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mould_Cooling</name>
            <choiceReferences>MouldCooling_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mould Cooling</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mould_Inlet_Temp</name>
            <dataType>Number</dataType>
            <fieldText>Mould Inlet Temp.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_CSV_File</name>
        <label>Upload CSV File</label>
        <locationX>298</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attach_Image</targetReference>
        </connector>
        <fields>
            <name>CSV_Reapder</name>
            <extensionName>c:PDSExcelReaderComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pds_record_Id</name>
                <value>
                    <elementReference>PDSId.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PDSId.Id</assignToReference>
                <name>pds_record_Id</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Enter_Machine_Detail</name>
        <isActive>true</isActive>
        <label>Enter Machine Detail</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Insert_Image</name>
        <isActive>true</isActive>
        <label>Insert Image</label>
        <stageOrder>2</stageOrder>
    </stages>
    <startElementReference>Get_Asset_Info</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Content Version Data</description>
        <name>getContentVersionId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>ImageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PDSId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Data__c</objectType>
    </variables>
    <variables>
        <description>This will store product image ID</description>
        <name>ProductImageID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
